<div class="min-h-screen bg-white dark:bg-slate-900 text-black dark:text-white transition-colors">
  <div class="flex flex-col gap-6 items-center justify-start p-6 md:p-16 rounded-xl h-[95vh] w-fit m-auto relative">

    <!-- Title -->
    <h1 class="font-bold text-[26px]">To-Do List</h1>

    <!-- Search / Filter -->
    <div class="md:flex gap-4 flex flex-col md:flex-row">

      <div
        class="flex items-center min-w-40 md:w-100 lg:w-150 px-4 py-2 rounded border border-[#6C63FF] text-black dark:text-black">
        <input type="text" placeholder="Search task" class="w-full outline-none dark:text-white" [(ngModel)]="search" />
        <app-icon name="search"></app-icon>
      </div>

      <div class="flex items-center justify-between md:gap-4">
        <app-dropdown (filterChange)="setFilter($event)"></app-dropdown>

        <button (click)="toggleTheme()" class="cursor-pointer p-2 rounded bg-[#6C63FF] transition">
          <app-icon *ngIf="!isDark" name="darkMode"></app-icon>
          <app-icon *ngIf="isDark" name="lightMode"></app-icon>
        </button>
      </div>
    </div>

    <!-- TASK LIST -->
    <div class="w-full flex flex-col gap-3 mt-4">

      <!-- Empty -->
      <div *ngIf="filteredTasks.length === 0" class="flex flex-col items-center gap-6 justify-center">
        <app-icon name="noTask"></app-icon>
        <div class="font-bold">Empty...</div>
      </div>

      <!-- Tasks -->
      <div *ngFor="let item of filteredTasks"
        class="flex justify-between items-center border-b border-black/30 dark:border-white/30 px-4 py-2">
        <div class="flex items-center gap-3">
          <input type="checkbox" [checked]="item.completed" (change)="toggleCompleted(item)" class="cursor-pointer" />
          <span [class.line-through]="item.completed">
            {{ item.task }}
          </span>
        </div>

        <div class="flex gap-3">
          <button *ngIf="!item.completed" (click)="openEditModal(item)" class="cursor-pointer">
            <app-icon name="edit"></app-icon>
          </button>

          <button (click)="deleteTask(item.id)" class="cursor-pointer">
            <app-icon name="delete"></app-icon>
          </button>
        </div>
      </div>
    </div>

    <!-- MODAL -->
    <div *ngIf="isModalOpen" class="fixed inset-0 bg-black/40 flex items-center justify-center z-50">
      <div class="bg-white rounded-lg w-75 md:w-96 p-6">

        <h2 class="text-lg font-bold mb-4 text-center">
          {{ isEditMode ? 'Edit Task' : 'Add New Task' }}
        </h2>

        <input type="text" placeholder="Enter task" class="border w-full px-3 py-2 rounded mb-4" [(ngModel)]="task"
          (keyup.enter)="isEditMode ? updateTask() : addTask()" />

        <div class="flex justify-end gap-3">
          <button (click)="closeModal()" class="px-4 py-2 border rounded">
            Cancel
          </button>

          <button (click)="isEditMode ? updateTask() : addTask()" class="px-4 py-2 bg-[#6C63FF] text-white rounded">
            {{ isEditMode ? 'Update' : 'Add' }}
          </button>
        </div>
      </div>
    </div>

    <!-- Add Button -->
    <button class="absolute bottom-0 right-0 cursor-pointer" (click)="openModal()">
      <app-icon name="addTask"></app-icon>
    </button>

  </div>
</div>